<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autohaus Verwaltungssystem</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
    <h1>Autohaus Verwaltungssystem</h1>
</header>

<main>
    <form action="/search" method="post" class="form-container">
        <label for="search_term"><strong>Kundenname eingeben:</strong></label><br>
        <input type="text" id="search_term" name="search_term"><br>
        <input type="submit" value="Suchen">
    </form>
</main>

</body>
</html>
